"context-menu":
  "atom-text-editor": [
    label: "Monterey Connector"
    submenu: [
      {
        label: "Signal Atom to Resize"
        command: "atom-monterey-connector:signal"
      }
      {
        label: "Return Size"
        command: "atom-monterey-connector:return-size"
      }
    ]
  ]
"menu": [
  label: "Packages"
  submenu: [
    label: "Monterey Connector"
    submenu: [
      {
        label: "Signal Atom to Resize"
        command: "atom-monterey-connector:signal"
      }
      {
        label: "Return Size"
        command: "atom-monterey-connector:return-size"
      }
    ]
  ]
]
